<div class="main-container">

    <ng-container *ngIf="messages !== null && messages!.length === 0">
        <div class="no-messages-container">
            <h3 class="no-messages-header">Currently no messages with {{ selectedUser?.firstname }}</h3>
            <h3 class="no-messages-header no-messages-sub-header">Start a conversation!</h3>
        </div>
    </ng-container>

    <ng-container *ngIf="messages !== null && messages!.length > 0">

        <ng-container *ngFor="let message of messages as MessageDTO">

            <div class="message-container" [ngClass]="{'my-message-container': message.userSenderId === loggedUser?.id, 'user-message-container': message.userSenderId === selectedUser?.id}">
    
                <div class="message-image-container" [ngClass]="{'my-message-image-container': message.userSenderId === loggedUser?.id, 'user-message-image-container': message.userSenderId === selectedUser?.id}" [title]="message.userSenderId === loggedUser?.id ? 'Me' : selectedUser?.firstname + ' ' + selectedUser?.lastname ">
                    <img src="../../../../assets/images/user-profil-image.png" class="message-image" [ngClass]="{'my-message-image': message.userSenderId === loggedUser?.id, 'user-message-image': message.userSenderId === selectedUser?.id}" alt="My profile image" />
                </div>
    
                <div class="message-info-container" [ngClass]="{'my-message-info-container': message.userSenderId === loggedUser?.id, 'user-message-info-container': message.userSenderId === selectedUser?.id}">
    
                    <div class="message-content-container my-message-content-container" [ngClass]="{'my-message-content-container': message.userSenderId === loggedUser?.id, 'user-message-content-container': message.userSenderId === selectedUser?.id}">
                        {{ message.messageContent }}
                    </div>
    
                    <div class="message-date-time-container my-message-date-time-container" [ngClass]="{'my-message-date-time-container': message.userSenderId === loggedUser?.id, 'user-message-date-time-container': message.userSenderId === selectedUser?.id}">
                        <!-- 8:30h, Today -->
                        {{ message.timeCreated | messageDate }}
                    </div>
    
                </div>
    
            </div>
    
        </ng-container>

    </ng-container>

</div>
