<div class="main-container">

    <div class="message-container my-message-container">

        <div class="message-image-container my-message-image-container">
            <img src="../../../../assets/images/user-profil-image.png" class="message-image my-message-image" alt="My profile image" />
        </div>

        <div class="message-info-container my-message-info-container">

            <div class="message-content-container my-message-content-container">
                Qui quaerat quas aut dolores molestias ad soluta nisi sed numquam sint ut sint eligendi quo consequatur fuga. Qui repellat nihil et laborum rerum eos praesentium molestiae et tenetur impedit id dolor dignissimos aut enim accusamus aut nisi quia.
                 <!-- Hi Pera -->
            </div>

            <div class="message-date-time-container my-message-date-time-container">
                8:30h, Today
            </div>

        </div>

    </div>

    <div class="message-container user-message-container">

        <div class="message-image-container user-message-image-container">
            <img src="../../../../assets/images/user-profil-image.png" class="message-image user-message-image" alt="User profile image" />
        </div>

        <div class="message-info-container user-message-info-container">

            <div class="message-content-container user-message-content-container">
                <!-- Qui quaerat quas aut dolores molestias ad soluta nisi sed numquam sint ut sint eligendi quo consequatur fuga. Qui repellat nihil et laborum rerum eos praesentium molestiae et tenetur impedit id dolor dignissimos aut enim accusamus aut nisi quia. -->
                 Hi
            </div>

            <div class="message-date-time-container user-message-date-time-container">
                8:30h, Today
            </div>

        </div>        

    </div>

    <div class="message-container my-message-container">

        <div class="message-image-container my-message-image-container">
            <img src="../../../../assets/images/user-profil-image.png" class="message-image my-message-image" alt="My profile image" />
        </div>

        <div class="message-info-container my-message-info-container">

            <div class="message-content-container my-message-content-container">
                Qui quaerat quas aut dolores molestias ad soluta nisi sed numquam sint ut sint eligendi quo consequatur fuga. Qui repellat nihil et laborum rerum eos praesentium molestiae et tenetur impedit id dolor dignissimos aut enim accusamus aut nisi quia.
                 <!-- Hi Pera -->
            </div>

            <div class="message-date-time-container my-message-date-time-container">
                8:30h, Today
            </div>

        </div>

    </div>

</div>
