<div class="main-container">

    <app-card>
        <!-- Inject HTML to Card component - using ng-content -->
        <div class="card-content">
            
            <div class="logo-container" style="display: inline-block;">
                <!-- <h1 class="logo-title">Connectify</h1> -->
                 <img src="../../../assets/images/logo-2.png" class="logo-icon" alt="application logo" />
            </div>

            <div class="settings-container" title="Settings" [routerLink]="['/settings']">
                <i class="fa-solid fa-gear settings-icon"></i>
            </div>

        </div>
        
    </app-card>

</div>
