<app-card [styles]="{height: '500px'}">
    
    <div class="card-content">
        
        <div class="message-header-container" *ngIf="selectedUser !== null">
            
            <div class="message-header-message-user-info-container">

                <div class="user-image-profile-container">
                    <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" [title]="selectedUser.firstname + ' ' + selectedUser.lastname" />
                </div>

                <div class="user-message-profile-information-container">
                    <div class="user-message-profile-information-user-name">
                        Chat with {{selectedUser.firstname}}
                    </div>
                    <div class="user-message-profile-information-message-number">
                        {{ selectedUserMessages?.length }} Messages
                    </div>
                </div>

                <div class="icon-container">
                    <i class="fa-solid fa-video icon video-icon" title="Video call" (click)="onVideoCall($event)"></i>
                    <i class="fa-solid fa-phone icon phone-icon" title="Voice call" (click)="onVoiceCall($event)"></i>
                </div>

            </div>

            <div class="user-message-option-container">

                <div class="dropdown">
                    <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical menu-icon"></i></button>
                    <div class="dropdown-content">
                      <a href="" class="dropdown-item" (click)="onViewUserProfile($event)"><i class="fa-solid fa-user"></i>View profile</a>
                      <a href="" class="dropdown-item" (click)="onAddToFriendList($event)"><i class="fa-solid fa-people-group"></i>Add to friend list</a>
                      <a href="" class="dropdown-item" (click)="onAddToGroup($event)"><i class="fa-solid fa-plus"></i> Add to group</a>
                      <a href="" class="dropdown-item" (click)="onBlock($event)"><i class="fa-regular fa-circle-xmark"></i> Block</a>
                    </div>
                </div>
                

            </div>

        </div>


        <div class="message-box-container" *ngIf="selectedUser !== null">
            
            <div class="message-box-container">
                <app-message-box [selectedUser]="selectedUser" (selectedUserMessages)="onSelectedUserMessages($event)"></app-message-box>
            </div>
            
            <div class="text-input-container">
                <app-text-input></app-text-input>
            </div>

        </div>

        <!-- ---------------------------------------------------------------------------- -->
        <!-- User not Selected -  If Not Selected User from User Menu -->
        <!-- ---------------------------------------------------------------------------- -->
        <div class="user-not-selected-container" *ngIf="selectedUser === null">
            <h3 class="user-not-selected-title">Select user from the list to start chat</h3>
            <i class="fa-solid fa-arrow-left arrow-left-icon"></i>
        </div>


    </div>

</app-card>
