<app-card [styles]="{height: '100%', marginRight: '10px'}">

    <div class="card-content">
        <app-search-bar [styles]="{padding: '15px'}"></app-search-bar>

        <app-toggle [items]="['All', 'Friend List', 'Online']" [activeItem]="1"></app-toggle>

        <!-- User List -->
        <div class="user-list-container">
    
            <ul class="user-list">

                
                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>

                <li class="user-list-item">
                    <div class="user-list-item-info-container">
                        <div class="user-list-item-info-image-container">
                            <img src="../../../assets/images/user-profil-image.png" class="user-profile-image" alt="user profile image" />
                        </div>
                        
                        <div class="user-list-item-sub-info-container">
                            <h3>Pera Peric</h3>
                            <div class="user-list-item-sub-info-user-status-container">
                                Pera is online
                            </div>
                        </div>
                    </div>          
                </li>



            </ul>

        </div>

    </div>

</app-card>
