/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    /* height: 100vh; Make the body take up the full height of the viewport */
    /* background: linear-gradient(to right, #1eb0f2, #a65ce2); */

    background: linear-gradient(to right, #00308F, #AFE1AF);
}

form input {
    background-color: rgba(0,0,0,0.12);
    outline: none;
    height: 30px;
    border: 1px solid rgba(0,0,0, 0.5);
    padding: 3px 7px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #F9F6EE;
}

form input:focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.08);
}

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #5D3FD3; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}